In [3]:
import pandas as pd
import numpy as np
df= pd.read_csv('sentiment_results.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9898 entries, 0 to 9897
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9898 non-null   int64
 1   station_name     9898 non-null   object
 2   place_name       9898 non-null   object
 3   location         9898 non-null   object
 4   author_name      9898 non-null   object
 5   rating           9898 non-null   int64
 6   text             9631 non-null   object
 7   time             9898 non-null   int64
 8   Language         9898 non-null   object
 9   Sentiment        9898 non-null   object
 10  Sentiment_Score  9898 non-null   float64
dtypes: float64(1), int64(3), object(7)
memory usage: 850.7+ KB

In [5]:
#split
# Split 'Location' column into 'Latitude' and 'Longitude'
df[['latitude', 'longitude']] = df['location'].str.split(',',expand =True)
df.head(10)

,Unnamed: 0,station_name,place_name,location,author_name,rating,text,time,Language,Sentiment,Sentiment_Score,latitude,longitude
0,0,TAMAN ANDA,Petronas Taman Anda,"4.629239,101.114431",Stephen ong,3,Another station charging higher than normal di...,1676626422,en,very negative,0.647881,4.629239,101.114431
1,1,TAMAN ANDA,Petronas Taman Anda,"4.629239,101.114431",Che Syaiful,4,Got petrol here,1726010026,en,very positive,0.429729,4.629239,101.114431
2,2,TAMAN ANDA,Petronas Taman Anda,"4.629239,101.114431",Mohammad Fithri Mohammad Sharifuddin,4,"most of the staff are very helpful, kind and a...",1601110289,en,very positive,0.549436,4.629239,101.114431
3,3,TAMAN ANDA,Petronas Taman Anda,"4.629239,101.114431",Stephen lee,5,Staff always with smiling face,1600260670,en,very positive,0.298948,4.629239,101.114431
4,4,TAMAN ANDA,Petronas Taman Anda,"4.629239,101.114431",Iqbal Hakim (Kim),5,"Its okay, typical petrol station.",1614015946,en,neutral,0.778628,4.629239,101.114431
5,5,PARIT BUNTAR,Caltex,"5.115475,100.484894",Mohd Ammar,5,One of two choices you can opt when in parit b...,1542117724,en,positive,0.487942,5.115475,100.484894
6,6,PARIT BUNTAR,Caltex,"5.115475,100.484894",Amirul Husnisham,5,"One of the best Petrol Station in Malaysia, th...",1592062531,en,very positive,0.890043,5.115475,100.484894
7,7,PARIT BUNTAR,Caltex,"5.115475,100.484894",moon lucas,5,Most clean petrol station. Of course alot snac...,1569220138,en,positive,0.412165,5.115475,100.484894
8,8,PARIT BUNTAR,Caltex,"5.115475,100.484894",onn keong leong,5,Very friendly owner. Treat everyone like a clo...,1496890312,en,very positive,0.636795,5.115475,100.484894
9,9,PARIT BUNTAR,Caltex,"5.115475,100.484894",eimoc mirror,4,Good and clean petrol stations. Strategic loca...,1489928693,en,very positive,0.489335,5.115475,100.484894